<% include ../partials/header %>
<div class="jumbotron">
     <h1 class="display-3">Use Express + EJS</h1>
    
     <hr class="my-4">
     <p>Jirayus Phithaksan 5930211010</p>
     
 </div>
<% include ../partials/footer %>